<?xml version="1.0" encoding="UTF-8" ?>

<root>
    <!--系统重要路径信息-->
    <path input="./input" output="./output" static="./static" templates="./templates" />

    <!--这里的变量将传递给thymeleaf-->
    <attributes>
        <attr ID="sitename">归零幻想的博客</attr>
        <varible ID="defaultAuthor">归零幻想</varible>
    </attributes>
</root>